* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}
:root {
  --text1-color: #252429;
  --bg-color: linear-gradient(45deg, white, lavender);
}
body.dark {
  --text1-color: #fff;
  background: #0e0e0e;
  --bg-color: linear-gradient(45deg, black, lavender);
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-color: #fffefb;
}
/* Navbar */
header nav {
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}
header nav.active {
  display: flex;
  padding: 25px 55px;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 50px;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100px;
  background: var(--bg-color);
}
header nav .logo-nav {
  margin-left: 15px;
  font-size: 3rem;
  color: rgb(195, 6, 135);
  font-weight: 700;
}
header nav .logo-nav span img {
  color: rgb(176, 15, 125);
  width: 129px;
  height: 122px;
  position: absolute;
  top: -15px;
  left: 148px;
  margin-left: 15px;
}
header nav .nav-items ul li {
  display: flex;
  flex-flow: column;
  padding-left: 30px;
  font-size: 19px;
  text-transform: capitalize;
}
header nav .nav-items ul li a {
  color: darkviolet;
  transition: 0.3s;
  font-weight: 600;
  letter-spacing: 1.5px;
}
header nav .nav-items ul li a:hover {
  color: #fff;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: 500;
  letter-spacing: 2px;
  background: linear-gradient(45deg, rgb(167, 17, 144), rgb(169, 8, 145));
}
header nav .nav-links #menu-icon {
  display: none;
  margin-top: 0px;
  font-size: 37px;
  color: #94056e;
}
header nav .nav-items ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 16px;
}
header nav .nav-items {
  display: flex;
  justify-content: center;
  position: relative;
}
header nav .nav-links {
  display: flex;
  justify-content: center;
  position: relative;
}
header nav .nav-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 16px;
}
header nav .nav-links ul li {
  list-style: none;
  margin-left: 15px;
  transition: 0.2s;
}
header nav .nav-links ul li:hover {
  transform: translateY(-3px);
}

/* End o navbar */

/* start head */

header .content-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .content-header .logo-content-header {
  justify-content: center;
  align-items: center;
}
header .content-header .logo-content-header h1 {
  text-align: center;
  font-size: 7em;
  font-weight: 700;
  color: darkmagenta;
  padding: 20px;
}
header .content-header .logo-content-header p {
  text-align: center;
  font-size: 2em;
  color: var(--text1-color);
}
header .content-header .button-header-content {
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
  align-items: center;
}
header .content-header .button-header-content button {
  font-size: 2rem;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 15px;
  color: #fffefb;
  background: linear-gradient(45deg, rgb(0, 128, 255), rgb(174, 9, 9));
  box-shadow: 1.5px 2.5px #6463638a;
}
header .content-header .picture-header-content {
  display: flex;
  justify-content: center;
}
header .content-header .picture-header-content img {
  border-radius: 100px;
}

/* End of head */

/* start of menu section  */

.menu,
.cook {
  margin-top: 55px;
}
.menu .logo-menu {
  align-items: center;
  justify-content: center;
}
.menu .logo-menu h2,
.cook .logo-cook h2 {
  text-align: center;
  font-size: 6em;
  color: rgb(213, 147, 61);
}
.menu .logo-menu h2 box-icon,
.cook .logo-cook h2 box-icon {
  position: absolute;
  width: 4rem;
  height: auto;
}
.menu .foods,
.cook .content-cook {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.menu .foods .meal,
.cook .content-cook .cook-text {
  width: 340px;
  margin: 15px;
}
.menu .foods .meal h4 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--text1-color);
}
.menu .foods .meal h3 {
  text-align: center;
  margin-top: 14px;
  font-size: 23px;
  color: var(--text1-color);
}
.menu .foods .meal p {
  padding: 10px;
  text-align: center;
  color: var(--text1-color);
  font-size: 15px;
}
.menu .foods .meal .img {
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
}
.menu .foods .meal .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}
.menu .foods .meal .img img:hover {
  transform: scale(1.2);
}

/* End menu */

/* start cook */

.cook .content-cook .cook-text h3 {
  text-align: center;
  color: var(--text1-color);
  font-size: 25px;
  padding: 10px;
}
.cook .content-cook .cook-text p {
  font-size: 10px;
  color: var(--text1-color);
}

/* End of cook */

/* Start about */

.about {
  margin-top: 4em;
}
.about .logo-section h2 {
  text-align: center;
  font-size: 6.5em;
  color: rgb(176, 15, 125);
}
.about .content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .content-section .text-section h3 {
  text-align: center;
  font-size: 27px;
  padding: 12px;
  color: rgb(169, 8, 145);
}
.about .content-section .text-section p {
  margin-left: 38px;
  color: var(--text1-color);
  font-size: 14px;
}
.about .content-section .text-section span img,
footer .thing- .logo-foo img {
  color: rgb(176, 15, 125);
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.about .content-section .img-section img {
  width: 400px;
  height: 300px;
}
/* End of about */

/* contact */

.contact {
  margin-top: 3em;
}
.contact .logo-contact {
  text-align: center;
  font-size: 5em;
  color: rgb(187, 0, 255);
}
.contact .content-contact {
  margin-top: 1.3em;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.contact .content-contact a {
  color: var(--text1-color);
}
.contact .content-contact .h1 {
}
.contact .content-contact .h2 {
  position: relative;
  left: 35px;
}
/* End of contact */

/* Footer */

footer {
  margin-top: 6rem;
  background: linear-gradient(50deg, aqua, darkviolet);
  padding: 27px;
}

footer .thing- {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
footer .thing- .navigat ul li,
footer .thing- .links-foo li {
  list-style: none;
  margin-left: 20px;
}
footer .thing- .navigat ul li a {
  color: var(--text1-color);
}
footer .thing- .navigat ul li a box-icon {
  position: relative;
  top: 6px;
}
footer .thing- .navigat ul {
  display: flex;
  font-size: 18px;
  text-transform: capitalize;
}
footer .thing- .links-foo {
  display: flex;
  margin-top: 7px;
  transition: 0.3s;
}
footer .thing- .links-foo li:hover {
  transform: scale(1) translateY(-5px);
}
footer .thing- .logo-foo {
  margin-top: 7px;
  display: flex;
  font-size: 20px;
}
footer .thing- .navigat,
footer .thing- .links-foo {
  position: relative;
  top: 15px;
  margin-left: 100px;
}
footer .end {
  margin-top: 25px;
  text-align: center;
  font-size: 7px;
  font-size: 15px;
  color: var(--text1-color);
}

/* end of footer*/

/* Media started */

@media screen and (max-width: 996px) {
  footer .thing- .navigat,
  footer .thing- .links-foo {
    position: relative;
    top: 15px;
    left: -58px;
  }
}
@media screen and (max-width: 932px) {
  header nav .nav-items {
    display: flex;
    position: fixed;
    top: -275px;
    left: 0;
    width: 105%;
    background: white;
    transition: 0.7s;
    z-index: 1;
  }
  header nav .nav-items.active {
    position: fixed;
    transform: translateY(370px);
  }
  header nav .nav-items ul {
    display: flex;
    flex-flow: column;
  }
  header nav .nav-items ul li {
    display: flex;
    margin-top: 18px;
    flex-flow: column;
    /* padding-left: 30px; */
    font-size: 32px;
    text-transform: capitalize;
  }
  header nav .nav-links #menu-icon {
    display: block;
  }
  header .content-header .logo-content-header p {
    font-size: 1.5em;
  }
  header .content-header .button-header-content button {
    font-size: 1.5rem;
    padding: 13px 27px;
  }
  .about .content-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-top: 22px;
    margin-right: 20px;
  }
  .about .content-section .img-section img {
    margin-top: 24px;
    margin-right: 75px;
    /* width: 400px; */
    height: 300px;
  }
}
@media screen and (max-width: 415px) {
  footer {
    width: 435px;
    margin-top: 6rem;
    background: linear-gradient(50deg, aqua, darkviolet);
  }
  .menu .foods,
  .cook .content-cook {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 42px;
  }
  .about {
    margin-top: 4em;
    margin-left: 15px;
  }
}
@media screen and (max-width: 696px) {
  header .content-header {
    display: flex;
    flex-flow: column;
    /* justify-content: space-around; */
    align-items: center;
  }
  header .content-header .logo-content-header {
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 31px;
    margin-left: 28px;
  }
}
/* .contact .content-contact {
  margin-top: 1.3em;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-right: 28px;
} */
@media screen and (max-width: 802px) {
  .contact .content-contact {
    margin-right: 22px;
  }
}
@media screen and (max-width: 695px) {
  .contact .content-contact {
    margin-right: 22px;
    display: block;
    margin-top: 26px;
  }
  .contact .content-contact h3:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 372px) {
  body {
    display: none;
  }
}
